<!DOCTYPE html>

<html lang="en">
<!--begin::Head-->

<head>
	<base href="../">
	<title>Confirmed Transaction</title>
	<meta charset="utf-8" />

	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="pragma" content="no-cache" />
	<link rel="canonical" href="https://preview.keenthemes.com/start" />
	<link rel="shortcut icon" href="assets/media/logos/en_logo.png" />
	<!--begin::Fonts-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
	<!--end::Fonts-->
	<!--begin::Global Stylesheets Bundle(used by all pages)-->
	<link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
	<!--end::Global Stylesheets Bundle-->
	<script src="https://cdn.jsdelivr.net/npm/web3@4.2.2/dist/web3.min.js"></script>
</head>
<!--end::Head-->
<!--begin::Body-->
<script>
	let queryString = window.location.search;
	const paramValue = queryString.substring(1); // Removes the '?' character
	const web3 = new Web3('https://sepolia.infura.io/v3/54458b95c9b541c09452a4a48c3d3376');

	const contractAddress = localStorage.contract;

	const user = "./index.html?" + contractAddress;



	let val;



	const contractABI = [
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "accountOwner",
				"type": "address"
			},
			{
				"internalType": "uint16",
				"name": "_pin",
				"type": "uint16"
			}
		],
		"name": "addOwner",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "_required",
				"type": "uint256"
			}
		],
		"name": "changeRequirement",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address[]",
				"name": "_owners",
				"type": "address[]"
			},
			{
				"internalType": "uint256",
				"name": "_required",
				"type": "uint256"
			},
			{
				"internalType": "uint16",
				"name": "_pin",
				"type": "uint16"
			}
		],
		"stateMutability": "payable",
		"type": "constructor"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"internalType": "address",
				"name": "sender",
				"type": "address"
			},
			{
				"indexed": true,
				"internalType": "uint256",
				"name": "transactionId",
				"type": "uint256"
			}
		],
		"name": "Confirmation",
		"type": "event"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "transactionId",
				"type": "uint256"
			}
		],
		"name": "confirmTransaction",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": false,
				"internalType": "address",
				"name": "sender",
				"type": "address"
			},
			{
				"indexed": false,
				"internalType": "uint256",
				"name": "value",
				"type": "uint256"
			}
		],
		"name": "Deposit",
		"type": "event"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "transactionId",
				"type": "uint256"
			}
		],
		"name": "execute",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"internalType": "uint256",
				"name": "transactionId",
				"type": "uint256"
			},
			{
				"indexed": true,
				"internalType": "address",
				"name": "to",
				"type": "address"
			},
			{
				"indexed": true,
				"internalType": "uint256",
				"name": "amount",
				"type": "uint256"
			}
		],
		"name": "Execution",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"internalType": "uint256",
				"name": "transactionId",
				"type": "uint256"
			}
		],
		"name": "ExecutionFailure",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": false,
				"internalType": "address",
				"name": "operator",
				"type": "address"
			},
			{
				"indexed": false,
				"internalType": "address",
				"name": "from",
				"type": "address"
			},
			{
				"indexed": false,
				"internalType": "uint256",
				"name": "tokenId",
				"type": "uint256"
			},
			{
				"indexed": false,
				"internalType": "bytes",
				"name": "data",
				"type": "bytes"
			}
		],
		"name": "NftReceived",
		"type": "event"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "operator",
				"type": "address"
			},
			{
				"internalType": "address",
				"name": "from",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "tokenId",
				"type": "uint256"
			},
			{
				"internalType": "bytes",
				"name": "data",
				"type": "bytes"
			}
		],
		"name": "onERC721Received",
		"outputs": [
			{
				"internalType": "bytes4",
				"name": "",
				"type": "bytes4"
			}
		],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"internalType": "address",
				"name": "owner",
				"type": "address"
			}
		],
		"name": "OwnerAddition",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"internalType": "address",
				"name": "owner",
				"type": "address"
			}
		],
		"name": "OwnerRemoval",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"internalType": "address",
				"name": "oldOwner",
				"type": "address"
			},
			{
				"indexed": true,
				"internalType": "address",
				"name": "newOwner",
				"type": "address"
			}
		],
		"name": "OwnerReplace",
		"type": "event"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "accountOwner",
				"type": "address"
			},
			{
				"internalType": "uint16",
				"name": "_pin",
				"type": "uint16"
			}
		],
		"name": "removeOwner",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "accountOwner",
				"type": "address"
			},
			{
				"internalType": "address",
				"name": "newOwner",
				"type": "address"
			},
			{
				"internalType": "uint16",
				"name": "_pin",
				"type": "uint16"
			}
		],
		"name": "replaceOwner",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": false,
				"internalType": "uint256",
				"name": "required",
				"type": "uint256"
			}
		],
		"name": "RequirementChange",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"internalType": "address",
				"name": "sender",
				"type": "address"
			},
			{
				"indexed": true,
				"internalType": "uint256",
				"name": "transactionId",
				"type": "uint256"
			}
		],
		"name": "Revocation",
		"type": "event"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "transactionId",
				"type": "uint256"
			}
		],
		"name": "revokeConfirmation",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"internalType": "uint256",
				"name": "transactionId",
				"type": "uint256"
			},
			{
				"indexed": false,
				"internalType": "address",
				"name": "dest",
				"type": "address"
			},
			{
				"indexed": false,
				"internalType": "uint256",
				"name": "value",
				"type": "uint256"
			},
			{
				"indexed": false,
				"internalType": "bytes",
				"name": "func",
				"type": "bytes"
			}
		],
		"name": "Submission",
		"type": "event"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "dest",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "value",
				"type": "uint256"
			},
			{
				"internalType": "bytes",
				"name": "func",
				"type": "bytes"
			}
		],
		"name": "submitTransaction",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "transactionId",
				"type": "uint256"
			}
		],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"stateMutability": "payable",
		"type": "receive"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			},
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"name": "confirmations",
		"outputs": [
			{
				"internalType": "bool",
				"name": "",
				"type": "bool"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "transactionId",
				"type": "uint256"
			}
		],
		"name": "getConfirmationCount",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "count",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "transactionId",
				"type": "uint256"
			}
		],
		"name": "getConfirmations",
		"outputs": [
			{
				"internalType": "address[]",
				"name": "_confirmations",
				"type": "address[]"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "getOwners",
		"outputs": [
			{
				"internalType": "address[]",
				"name": "",
				"type": "address[]"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "transactionId",
				"type": "uint256"
			}
		],
		"name": "isConfirmed",
		"outputs": [
			{
				"internalType": "bool",
				"name": "",
				"type": "bool"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"name": "isOwner",
		"outputs": [
			{
				"internalType": "bool",
				"name": "",
				"type": "bool"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "MAX_OWNER_COUNT",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"name": "owners",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "required",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "transactionCount",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"name": "transactions",
		"outputs": [
			{
				"internalType": "address",
				"name": "dest",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "value",
				"type": "uint256"
			},
			{
				"internalType": "bytes",
				"name": "func",
				"type": "bytes"
			},
			{
				"internalType": "bool",
				"name": "executed",
				"type": "bool"
			},
			{
				"internalType": "uint256",
				"name": "id",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	}
];

	const contract = new web3.eth.Contract(contractABI, contractAddress);



	async function getBlockTimestamp(blockNumber) {
		const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
			"Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

		try {
			const block = await web3.eth.getBlock(blockNumber);
			const timestamp = await block.timestamp; // Unix timestamp of the block

			// Convert Unix timestamp to milliseconds (JavaScript Date uses milliseconds)
			const date = await new Date(Number(timestamp) * 1000);

			// Format date to a readable string
			const day = await date.getDate();
			const monthIndex = await date.getMonth();
			const year = await date.getFullYear();

			const suffixes = ['th', 'st', 'nd', 'rd'];
			const relevantDigits = (day < 30) ? day % 20 : day % 30;
			const suffix = (relevantDigits <= 3) ? suffixes[relevantDigits] : suffixes[0];

			let formattedDate = `${monthNames[monthIndex]} ${day}${suffix}, ${year}`;

			return formattedDate;


		} catch (error) {
			console.error(`Error fetching block ${blockNumber}:`, error);
			throw error;
		}
	}
	let l;
	let t = [];

	async function decodeLogs(txhash) {

		const tx = await web3.eth.getTransaction(txhash);
		console.log(tx)
		const receipt = await web3.eth.getTransactionReceipt(txhash);
		console.log(receipt)
		l = await findContractMethod(tx);
		t = receipt.logs['0'].topics;


		if (l == 'confirmTransaction') {

			let container = document.getElementById('logs');



			let txnId = document.createElement("div");
			txnId.classList.add('d-flex');
			txnId.classList.add('justify-content-between');
			txnId.classList.add('fs-6');
			txnId.classList.add('mb-3');
			txnId.innerHTML = `<span class="text-end">Txn Id: ` + web3.utils.hexToNumber(t[2]) + `</span>`
			container.appendChild(txnId);

			let r = new web3.eth.Contract(contractABI, contractAddress);
			r.methods.transactions(web3.utils.hexToNumber(t[2])).call().then(function (result) {

				let sep = document.createElement("div");
				sep.classList.add('d-flex');
				sep.classList.add('justify-content-between');
				sep.classList.add('fs-6');
				sep.classList.add('mb-3');
				sep.innerHTML = `<span class="text-end" style="font-weight: bold;">Transaction Data: </span>`
				container.appendChild(sep);

				let to = document.createElement("div");
				to.classList.add('d-flex');
				to.classList.add('justify-content-between');
				to.classList.add('fs-6');
				to.classList.add('mb-3');
				to.innerHTML = `<span class="text-end">To: ` + result[0] + `</span>`
				container.appendChild(to);

				let val = document.createElement("div");
				val.classList.add('d-flex');
				val.classList.add('justify-content-between');
				val.classList.add('fs-6');
				val.classList.add('mb-3');
				val.innerHTML = `<span class="text-end">Value to Transfer: ` + web3.utils.fromWei(BigInt(result[1]).toString(), 'ether') + ` ETH</span>`
				container.appendChild(val);

				let func = document.createElement("div");
				func.classList.add('d-flex');
				func.classList.add('justify-content-between');
				func.classList.add('fs-6');
				func.classList.add('mb-3');
				func.innerHTML = `<span class="text-end">Call Data: ` + result[2] + ` </span>`
				container.appendChild(func);





				console.log(result)
			})





			let sender = document.createElement("div");
			sender.classList.add('d-flex');
			sender.classList.add('justify-content-between');
			sender.classList.add('fs-6');
			sender.classList.add('mb-3');
			sender.innerHTML = `<span class="text-end">Confirmed By: 0x` + t[1].slice(26) + `</span>`
			container.appendChild(sender);

			let m = document.getElementById("method").innerText = 'Confirm Txn';

		}

		if (l == 'submitTransaction') {

			t = await receipt.logs['0'].topics;
			let d = await receipt.logs['0'].data;

			let f = receipt.from;

			let container = document.getElementById('logs');

			// const addressStart = 2 + 24 * 2; // '0x' prefix + 24 bytes of zeros in hex
			// const addressEnd = addressStart + 16; // Ethereum addresses are 20 bytes, 40 characters in hex
			// const address = '0x' + d.slice(26, addressEnd);

			// // The uint256 value follows the address, occupying 32 bytes (64 characters in hex)
			// const uintStart = addressEnd;
			// const uintEnd = uintStart + 64;
			// const uintValueHex = '0x' + d.slice(uintStart, uintEnd); // Ensure '0x' prefix for hex value

			// const uintValue = BigInt(uintValueHex).toString();

			// // The bytes data follows the uint256 value and takes up the rest of the string
			// const funcDataHex = '0x';

			let txnId = document.createElement("div");
			txnId.classList.add('d-flex');
			txnId.classList.add('justify-content-between');
			txnId.classList.add('fs-6');
			txnId.classList.add('mb-3');
			txnId.innerHTML = `<span class="text-end">Txn Id: ` + web3.utils.hexToNumber(t[1]) + `</span>`;
			container.appendChild(txnId);

			let from = document.createElement("div");
			from.classList.add('d-flex');
			from.classList.add('justify-content-between');
			from.classList.add('fs-6');
			from.classList.add('mb-3');
			from.innerHTML = `<span class="text-end">Submitted By: ` + f + `</span>`;
			container.appendChild(from);







			let r = new web3.eth.Contract(contractABI, contractAddress);
			r.methods.transactions(web3.utils.hexToNumber(t[1])).call().then(function (result) {

				let sep = document.createElement("div");
				sep.classList.add('d-flex');
				sep.classList.add('justify-content-between');
				sep.classList.add('fs-6');
				sep.classList.add('mb-3');
				sep.innerHTML = `<span class="text-end" style="font-weight: bold;">Transaction Data: </span>`
				container.appendChild(sep);

				let to = document.createElement("div");
				to.classList.add('d-flex');
				to.classList.add('justify-content-between');
				to.classList.add('fs-6');
				to.classList.add('mb-3');
				to.innerHTML = `<span class="text-end">To: ` + result[0] + `</span>`
				container.appendChild(to);

				let val = document.createElement("div");
				val.classList.add('d-flex');
				val.classList.add('justify-content-between');
				val.classList.add('fs-6');
				val.classList.add('mb-3');
				val.innerHTML = `<span class="text-end">Value to Transfer: ` + web3.utils.fromWei(BigInt(result[1]).toString(), 'ether') + ` ETH</span>`
				container.appendChild(val);

				let func = document.createElement("div");
				func.classList.add('d-flex');
				func.classList.add('justify-content-between');
				func.classList.add('fs-6');
				func.classList.add('mb-3');
				func.innerHTML = `<span class="text-end">Call Data: ` + result[2] + ` </span>`
				container.appendChild(func);





				console.log(result)
			})


			let m = document.getElementById("method").innerText = 'Submit Txn';

		}

		if (l == 'changeRequirement') {

			t = receipt.logs['0'].data;

			let container = document.getElementById('logs');




			let sender = document.createElement("div");
			sender.classList.add('d-flex');
			sender.classList.add('justify-content-between');
			sender.classList.add('fs-6');
			sender.classList.add('mb-3');
			sender.innerHTML = `<span class="text-end">New Requirement: ` + web3.utils.hexToNumber(t) + `</span>`
			container.appendChild(sender);




			let m = document.getElementById("method").innerText = 'Change Requirement';

		}

		if (l == 'addOwner') {

			t = receipt.logs['0'].topics;

			let container = document.getElementById('logs');




			let sender = document.createElement("div");
			sender.classList.add('d-flex');
			sender.classList.add('justify-content-between');
			sender.classList.add('fs-6');
			sender.classList.add('mb-3');
			sender.innerHTML = `<span class="text-end">New Owner: 0x` + t[1].slice(26) + `</span>`
			container.appendChild(sender);




			let m = document.getElementById("method").innerText = 'Owner Addition';

		}

		if (l == 'replaceOwner') {

			t = receipt.logs['0'].topics;
			//t2 = receipt.logs['1'].topics;

			let container = document.getElementById('logs');




			let removed = document.createElement("div");
			removed.classList.add('d-flex');
			removed.classList.add('justify-content-between');
			removed.classList.add('fs-6');
			removed.classList.add('mb-3');
			removed.innerHTML = `<span class="text-end">Owner Removed: 0x` + t[1].slice(26) + `</span>`
			container.appendChild(removed);

			let added = document.createElement("div");
			added.classList.add('d-flex');
			added.classList.add('justify-content-between');
			added.classList.add('fs-6');
			added.classList.add('mb-3');
			added.innerHTML = `<span class="text-end">Owner Added: 0x` + t[2].slice(26) + `</span>`
			container.appendChild(added);




			let m = document.getElementById("method").innerText = 'Owner Replaced';

		}

		if (l == 'removeOwner') {

			t = receipt.logs['0'].topics;

			let container = document.getElementById('logs');


			let removed = document.createElement("div");
			removed.classList.add('d-flex');
			removed.classList.add('justify-content-between');
			removed.classList.add('fs-6');
			removed.classList.add('mb-3');
			removed.innerHTML = `<span class="text-end">Owner Removed: 0x` + t[1].slice(26) + `</span>`
			container.appendChild(removed);





			let m = document.getElementById("method").innerText = 'Owner Removed';

		}

		if (l == 'revokeConfirmation') {

			let container = document.getElementById('logs');




			// let sender = document.createElement("div");
			// sender.classList.add('d-flex');
			// sender.classList.add('justify-content-between');
			// sender.classList.add('fs-6');
			// sender.classList.add('mb-3');
			// sender.innerHTML = `<span class="text-end">Sender: 0x` + t[1].slice(26) + `</span>`
			// container.appendChild(sender);



			let txnId = document.createElement("div");
			txnId.classList.add('d-flex');
			txnId.classList.add('justify-content-between');
			txnId.classList.add('fs-6');
			txnId.classList.add('mb-3');
			txnId.innerHTML = `<span class="text-end">Txn Id: ` + web3.utils.hexToNumber(t[2]) + `</span>`
			container.appendChild(txnId);

			let m = document.getElementById("method").innerText = 'Revoke Txn';


		}

		if (l == 'execute') {

			let m = document.getElementById("method").innerText = 'Execute Txn';


			t = receipt.logs;

			let f = receipt.from;

			//txn id
			let id = web3.utils.hexToNumber(t[0].data);
			console.log(id);
			//addy
			let addr = '0x' + t[0].topics[1].substring(26)
			console.log(addr);
			//value
			val = web3.utils.fromWei(BigInt(t[0].topics[2]), 'ether')
			console.log(val)
			//func call data
			let func = '0x'
			console.log(t[0].topics[4]);

			let container = document.getElementById('logs');

			let txnId = document.createElement("div");
			txnId.classList.add('d-flex');
			txnId.classList.add('justify-content-between');
			txnId.classList.add('fs-6');
			txnId.classList.add('mb-3');
			txnId.innerHTML = `<span class="text-end">Txn Id: ` +id+ `</span>`;
			container.appendChild(txnId);

			let from = document.createElement("div");
			from.classList.add('d-flex');
			from.classList.add('justify-content-between');
			from.classList.add('fs-6');
			from.classList.add('mb-3');
			from.innerHTML = `<span class="text-end">Executed By: ` + f + `</span>`;
			container.appendChild(from);







			let r = new web3.eth.Contract(contractABI, contractAddress);
			r.methods.transactions(web3.utils.hexToNumber(t[0].data)).call().then(function (result) {

				console.log(result)

				let sep = document.createElement("div");
				sep.classList.add('d-flex');
				sep.classList.add('justify-content-between');
				sep.classList.add('fs-6');
				sep.classList.add('mb-3');
				sep.innerHTML = `<span class="text-end" style="font-weight: bold;">Transaction Data: </span>`
				container.appendChild(sep);

				let to = document.createElement("div");
				to.classList.add('d-flex');
				to.classList.add('justify-content-between');
				to.classList.add('fs-6');
				to.classList.add('mb-3');
				to.innerHTML = `<span class="text-end">To: ` + result[0] + `</span>`
				container.appendChild(to);

				let val = document.createElement("div");
				val.classList.add('d-flex');
				val.classList.add('justify-content-between');
				val.classList.add('fs-6');
				val.classList.add('mb-3');
				val.innerHTML = `<span class="text-end">Value to Transfer: ` + web3.utils.fromWei(BigInt(result[1]).toString(), 'ether') + ` ETH</span>`
				container.appendChild(val);

				let func = document.createElement("div");
				func.classList.add('d-flex');
				func.classList.add('justify-content-between');
				func.classList.add('fs-6');
				func.classList.add('mb-3');
				func.innerHTML = `<span class="text-end">Call Data: ` + result[2] + ` </span>`
				container.appendChild(func);





			})





		}



		if (l == null) {


			let container = document.getElementById('logs');

			let from = document.createElement("div");
			from.classList.add('d-flex');
			from.classList.add('justify-content-between');
			from.classList.add('fs-6');
			from.classList.add('mb-3');
			from.innerHTML = `<span class="text-end">From: ` + tx.from + `</span>`
			container.appendChild(from);

			let v = web3.utils.fromWei(tx.value, 'ether');
			let value = document.createElement("div");
			value.classList.add('d-flex');
			value.classList.add('justify-content-between');
			value.classList.add('fs-6');
			value.classList.add('mb-3');
			value.innerHTML = `<span class="text-end">Value: ` + v + ` ETH</span>`
			container.appendChild(value);

			let m = document.getElementById("method").innerText = 'Deposit';

		}







	}

	async function findContractMethod(tx) {
		// Extract method ID from the transaction input
		const methodId = tx.input.slice(0, 10);

		// Find the ABI entry corresponding to the method ID
		const abiMethod = await contractABI.find(abiEntry => {
			return abiEntry.type === 'function' && web3.eth.abi.encodeFunctionSignature(abiEntry) === methodId;
		});

		if (!abiMethod) {
			return null
		} else {
			return abiMethod.name
		}
	}

	// Function to get transaction details
	async function getTransactionDetails(txhash) {
		try {
			const tx = await web3.eth.getTransaction(txhash);
			const txReceipt = await web3.eth.getTransactionReceipt(txhash);
			const gasUsed = txReceipt.gasUsed;

			// Calculate transaction fee (gasUsed * gasPrice)
			const txFee = gasUsed * tx.gasPrice;

			// Convert the fee to Ether from Wei
			const txFeeInEther = web3.utils.fromWei(txFee.toString(), 'ether');
			const valueInETH = web3.utils.fromWei(tx.value.toString(), 'ether');
			document.getElementById('tx_hash').innerText = tx.hash;
			document.getElementById('tx_to').innerText = tx.to;
			document.getElementById('tx_from').innerText = tx.from;
			document.getElementById('tx_fee').innerText = txFeeInEther;
			document.getElementById('tx_value').innerText = valueInETH;
			document.getElementById('gas_price').innerText = await web3.utils.fromWei(tx.gasPrice.toString(), 'ether');
			document.getElementById('block').innerText = tx.blockNumber;
			document.getElementById('gas_used').innerText = gasUsed;
			document.getElementById('timestamp').innerText = await getBlockTimestamp(tx.blockNumber);

		} catch (error) {
			console.error('Error fetching transaction details:', error);
		}
	}







	getTransactionDetails(paramValue);
	decodeLogs(paramValue);


</script>

<body id="kt_body" data-sidebar="on"
	class="print-content-only header-fixed header-tablet-and-mobile-fixed toolbar-enabled sidebar-enabled">
	<!--begin::Main-->
	<!--begin::Root-->
	<div class="d-flex flex-column flex-root">
		<!--begin::Page-->
		<div class="page d-flex flex-row flex-column-fluid">
			<!--begin::Aside-->
			<div id="kt_aside" class="aside bg-info" data-kt-drawer="true" data-kt-drawer-name="aside"
				data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true"
				data-kt-drawer-width="70px" data-kt-drawer-direction="start"
				data-kt-drawer-toggle="#kt_sidebar_toggler">
				<!--begin::Primary-->
				<div class="aside-primary d-flex flex-column align-items-center flex-row-auto">
					<!--begin::Logo-->
					<div class="aside-logo d-flex flex-column align-items-center flex-column-auto py-4 pt-lg-10 pb-lg-7"
						id="kt_aside_logo">
						<a id="logo" href="">
							<img alt="Logo" src="assets/media/logos/en_logo.png" class="mh-50px" />
						</a>
					</div>
					<!--end::Logo-->
					<!--begin::Nav Wrapper-->
					<div class="aside-nav d-flex flex-column align-items-center flex-column-fluid pt-0 pb-5"
						id="kt_aside_nav">
						<!--begin::Nav scroll-->
						<div class="hover-scroll-y" data-kt-scroll="true" data-kt-scroll-height="auto"
							data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer"
							data-kt-scroll-wrappers="#kt_aside_nav" data-kt-scroll-offset="10px">
							<!--begin::Nav-->
							<ul class="nav flex-column">
								<!--begin::Item-->
								<li class="nav-item mb-1" title="Collections Coming Soon!" data-bs-toggle="tooltip"
									data-bs-dismiss="click" data-bs-placement="right">
									<a href=""
										class="nav-link h-40px w-40px h-lg-50px w-lg-50px btn btn-custom btn-icon btn-color-white active"
										data-bs-toggle="tab" data-bs-target="#kt_aside_tab_1" role="tab">
										<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
										<span class="svg-icon svg-icon-2 svg-icon-toggle-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<rect x="2" y="2" width="9" height="9" rx="2" fill="black" />
												<rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2"
													fill="black" />
												<rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2"
													fill="black" />
												<rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2"
													fill="black" />
											</svg>
										</span>
										<!--end::Svg Icon-->
									</a>
								</li>
								<!--end::Item-->

								<!--begin::Item-->
								<li class="nav-item mb-1" title="Latest Reports Coming Soon!" data-bs-toggle="tooltip"
									data-bs-dismiss="click" data-bs-placement="right">
									<a href="#"
										class="nav-link h-40px w-40px h-lg-50px w-lg-50px btn btn-custom btn-icon btn-color-white"
										data-bs-toggle="tab" data-bs-target="#kt_aside_tab_3" role="tab">
										<!--begin::Svg Icon | path: icons/duotune/general/gen032.svg-->
										<span class="svg-icon svg-icon-2 svg-icon-lg-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<rect x="8" y="9" width="3" height="10" rx="1.5" fill="black" />
												<rect opacity="0.5" x="13" y="5" width="3" height="14" rx="1.5"
													fill="black" />
												<rect x="18" y="11" width="3" height="8" rx="1.5" fill="black" />
												<rect x="3" y="13" width="3" height="6" rx="1.5" fill="black" />
											</svg>
										</span>
										<!--end::Svg Icon-->
									</a>
								</li>
								<!--end::Item-->

								<!--begin::Item-->
								<li class="nav-item mb-1" title="Account Settings" data-bs-toggle="tooltip"
									data-bs-dismiss="click" data-bs-placement="right">
									<a href="./views/accountsettings.html"
										class="nav-link h-40px w-40px h-lg-50px w-lg-50px btn btn-custom btn-icon btn-color-white"
										role="tab">
										<!--begin::Svg Icon | path: icons/duotune/abstract/abs027.svg-->
										<span class="svg-icon svg-icon-2 svg-icon-lg-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path
													d="M17.5 11H6.5C4 11 2 9 2 6.5C2 4 4 2 6.5 2H17.5C20 2 22 4 22 6.5C22 9 20 11 17.5 11ZM15 6.5C15 7.9 16.1 9 17.5 9C18.9 9 20 7.9 20 6.5C20 5.1 18.9 4 17.5 4C16.1 4 15 5.1 15 6.5Z"
													fill="black" />
												<path opacity="0.3"
													d="M17.5 22H6.5C4 22 2 20 2 17.5C2 15 4 13 6.5 13H17.5C20 13 22 15 22 17.5C22 20 20 22 17.5 22ZM4 17.5C4 18.9 5.1 20 6.5 20C7.9 20 9 18.9 9 17.5C9 16.1 7.9 15 6.5 15C5.1 15 4 16.1 4 17.5Z"
													fill="black" />
											</svg>
										</span>
										<!--end::Svg Icon-->
									</a>
								</li>
								<!--end::Item-->
								<!--begin::Item-->
								<li class="nav-item mb-1" title="New Contract" data-bs-toggle="tooltip"
									data-bs-dismiss="click" data-bs-placement="right">
									<a href="./views/wizard.html"
										class="nav-link h-40px w-40px h-lg-50px w-lg-50px btn btn-custom btn-icon btn-color-white"
										data-bs-toggle="tab" data-bs-target="#kt_aside_tab_6" role="tab">
										<!--begin::Svg Icon | path: icons/duotune/files/fil005.svg-->
										<span class="svg-icon svg-icon-2 svg-icon-lg-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.3"
													d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22ZM16 13H13V10C13 9.4 12.6 9 12 9C11.4 9 11 9.4 11 10V13H8C7.4 13 7 13.4 7 14C7 14.6 7.4 15 8 15H11V18C11 18.6 11.4 19 12 19C12.6 19 13 18.6 13 18V15H16C16.6 15 17 14.6 17 14C17 13.4 16.6 13 16 13Z"
													fill="black" />
												<path d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z" fill="black" />
											</svg>
										</span>
										<!--end::Svg Icon-->
									</a>
								</li>
								<!--end::Item-->
								<!--begin::Item-->
								<li class="nav-item mb-1" title="Documentation" data-bs-toggle="tooltip"
									data-bs-dismiss="click" data-bs-placement="right">
									<a href="#"
										class="nav-link h-40px w-40px h-lg-50px w-lg-50px btn btn-custom btn-icon btn-color-white"
										data-bs-toggle="tab" data-bs-target="#kt_aside_tab_6" role="tab">
										<!--begin::Svg Icon | path: icons/duotune/files/fil005.svg-->
										<span class="svg-icon svg-icon-2 svg-icon-lg-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.3"
													d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22ZM15 17C15 16.4 14.6 16 14 16H8C7.4 16 7 16.4 7 17C7 17.6 7.4 18 8 18H14C14.6 18 15 17.6 15 17ZM17 12C17 11.4 16.6 11 16 11H8C7.4 11 7 11.4 7 12C7 12.6 7.4 13 8 13H16C16.6 13 17 12.6 17 12ZM17 7C17 6.4 16.6 6 16 6H8C7.4 6 7 6.4 7 7C7 7.6 7.4 8 8 8H16C16.6 8 17 7.6 17 7Z"
													fill="black" />
												<path d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z" fill="black" />
											</svg>
										</span>
										<!--end::Svg Icon-->
									</a>
								</li>
								<!--end::Item-->
							</ul>
							<!--end::Nav-->
						</div>
						<!--end::Nav scroll-->
					</div>
					<!--end::Nav Wrapper-->

				</div>
				<!--end::Primary-->
			</div>
			<!--end::Aside-->
			<!--begin::Wrapper-->
			<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
				<!--begin::Header-->
				<div id="kt_header" class="header" data-kt-sticky="true" data-kt-sticky-name="header"
					data-kt-sticky-offset="{default: '200px', lg: '300px'}">
					<!--begin::Container-->
					<div class="container-xxl d-flex align-items-stretch justify-content-between">
						<!--begin::Left-->
						<div class="d-flex align-items-center">
							<!--begin::Mega Menu Toggler-->

							<!--end::Mega Menu Toggler-->
							<!--begin::Logo-->
							<a id="logo" href="">
								<img alt="Logo" src="assets/media/logos/logo_full.png" class="h-30px" />
							</a>
							<!--end::Logo-->
						</div>
						<!--end::Left-->
						<!--begin::Right-->
						<div class="d-flex align-items-center">

							<!--begin::Wallet-->
							<div class="ms-1 ms-lg-6">
								<div class="btn btn-icon btn-sm btn-active-bg-accent" data-kt-menu-trigger="click"
									data-kt-menu-placement="bottom-end" id="kt_header_user_menu_toggle">
									<!--begin::Svg Icon | path: icons/duotune/communication/com003.svg-->
									<span class="svg-icon svg-icon-1 svg-icon-dark">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none">
											<path opacity="0.3"
												d="M3.20001 5.91897L16.9 3.01895C17.4 2.91895 18 3.219 18.1 3.819L19.2 9.01895L3.20001 5.91897Z"
												fill="grey" />
											<path opacity="0.3"
												d="M13 13.9189C13 12.2189 14.3 10.9189 16 10.9189H21C21.6 10.9189 22 11.3189 22 11.9189V15.9189C22 16.5189 21.6 16.9189 21 16.9189H16C14.3 16.9189 13 15.6189 13 13.9189ZM16 12.4189C15.2 12.4189 14.5 13.1189 14.5 13.9189C14.5 14.7189 15.2 15.4189 16 15.4189C16.8 15.4189 17.5 14.7189 17.5 13.9189C17.5 13.1189 16.8 12.4189 16 12.4189Z"
												fill="grey" />
											<path
												d="M13 13.9189C13 12.2189 14.3 10.9189 16 10.9189H21V7.91895C21 6.81895 20.1 5.91895 19 5.91895H3C2.4 5.91895 2 6.31895 2 6.91895V20.9189C2 21.5189 2.4 21.9189 3 21.9189H19C20.1 21.9189 21 21.0189 21 19.9189V16.9189H16C14.3 16.9189 13 15.6189 13 13.9189Z"
												fill="grey" />
										</svg>
									</span>
									<!--end::Svg Icon-->


								</div>
								<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold w-300px"
									data-kt-menu="true">
									<div class="menu-content fw-bold d-flex align-items-center bgi-no-repeat bgi-position-y-top rounded-top"
										style="background-image:url('assets/media//misc/dropdown-header-bg.jpg')">
										<div class="symbol symbol-45px mx-5 py-5">
											<span class="symbol-label align-items-end">
												<img alt="Logo" src="assets/media/icons/duotune/arrows/arr076.svg"
													class="mh-35px" style="margin-bottom: auto;
													margin-top: auto;" />
											</span>
											<!--end::Svg Icon-->
										</div>
										<div class="">
											<span class="text-white fw-bolder fs-4">Connect a wallet</span>
										</div>
									</div>
									<!--begin::Row-->
									<div class="row row-cols-2 g-0">
										<a href="#"
											class="border-bottom border-end text-center py-10 btn btn-active-color-primary rounded-0">
											<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->

											<!--begin::Svg Icon | path: assets/media/icons/duotune/general/gen025.svg-->
											<span class="svg-icon svg-icon-3x me-n1"><svg
													xmlns="http://www.w3.org/2000/svg" width="24" height="24"
													viewBox="0 0 24 24" fill="none">
													<rect x="2" y="2" width="9" height="9" rx="2" fill="black" />
													<rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2"
														fill="black" />
													<rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2"
														fill="black" />
													<rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2"
														fill="black" />
												</svg></span>
											<!--end::Svg Icon-->
											<!--end::Svg Icon-->
											<span class="fw-bolder fs-6 d-block pt-3">Browser Wallet</span>
										</a>
										<a href="#"
											class="col border-bottom text-center py-10 btn btn-active-color-primary rounded-0">
											<!--begin::Svg Icon | path: icons/duotune/general/gen019.svg-->
											<span class="svg-icon svg-icon-3x me-n1">
												<img style="width: 30px; height: 30px;" alt="Logo"
													src="assets/media/svg/coinbase.svg" />
											</span>
											<!--end::Svg Icon-->
											<span class="fw-bolder fs-6 d-block pt-3">Coinbase Wallet</span>
										</a>
										<a href="#"
											class="col text-center border-end py-10 btn btn-active-color-primary rounded-0">
											<!--begin::Svg Icon | path: icons/duotune/finance/fin009.svg-->
											<span class="svg-icon svg-icon-3x me-n1">
												<img alt="Logo" style="width: 50px; height: 50px;"
													src="assets/media/svg/walletconnect.svg" />
											</span>
											<!--end::Svg Icon-->
											<span class="fw-bolder fs-6 d-block pt-3">WalletConnect</span>
										</a>
										<a href="#"
											class="col text-center py-10 btn btn-active-color-primary rounded-0">
											<!--begin::Svg Icon | path: icons/duotune/arrows/arr077.svg-->
											<span class="svg-icon svg-icon-3x me-n1">
												<img alt="Logo" style="width: 50px; height: 50px;"
													src="assets/media/svg/metamask.svg" />

											</span>
											<!--end::Svg Icon-->
											<span class="fw-bolder fs-6 d-block pt-3">MetaMask</span>
										</a>
									</div>
									<!--end::Row-->
								</div>
								<!--end::Menu-->
							</div>
							<!--end::Wallet-->
							<!--begin::User-->
							<div class="ms-1 ms-lg-6">
								<!--begin::Toggle-->
								<div class="btn btn-icon btn-sm btn-active-bg-accent">
									<!--begin::Svg Icon | path: icons/duotune/communication/com013.svg-->
									<a href="./views/accountsettings.html">
										<span class="svg-icon svg-icon-1 svg-icon-dark">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path
													d="M17.5 11H6.5C4 11 2 9 2 6.5C2 4 4 2 6.5 2H17.5C20 2 22 4 22 6.5C22 9 20 11 17.5 11ZM15 6.5C15 7.9 16.1 9 17.5 9C18.9 9 20 7.9 20 6.5C20 5.1 18.9 4 17.5 4C16.1 4 15 5.1 15 6.5Z"
													fill="black" />
												<path opacity="0.3"
													d="M17.5 22H6.5C4 22 2 20 2 17.5C2 15 4 13 6.5 13H17.5C20 13 22 15 22 17.5C22 20 20 22 17.5 22ZM4 17.5C4 18.9 5.1 20 6.5 20C7.9 20 9 18.9 9 17.5C9 16.1 7.9 15 6.5 15C5.1 15 4 16.1 4 17.5Z"
													fill="black" />
											</svg>
									</a>
									<!--end::Svg Icon-->
								</div>
								<!--begin::Menu-->

							</div>
							<!--end::User-->
							<!--begin::Wizard-->
							<div class="ms-1 ms-lg-6">
								<!--begin::Toggle-->
								<div class="btn btn-icon btn-sm btn-active-bg-accent">
									<!--begin::Svg Icon | path: icons/duotune/communication/com013.svg-->
									<a href="./views/wizard.html">
										<span class="svg-icon svg-icon-1 svg-icon-dark">
											<!--begin::Svg Icon | path: assets/media/icons/duotune/files/fil005.svg-->
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.3"
													d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22ZM16 13H13V10C13 9.4 12.6 9 12 9C11.4 9 11 9.4 11 10V13H8C7.4 13 7 13.4 7 14C7 14.6 7.4 15 8 15H11V18C11 18.6 11.4 19 12 19C12.6 19 13 18.6 13 18V15H16C16.6 15 17 14.6 17 14C17 13.4 16.6 13 16 13Z"
													fill="black" />
												<path d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z" fill="black" />
											</svg></span>
										<!--end::Svg Icon-->
									</a>
									<!--end::Svg Icon-->
								</div>
								<!--begin::Menu-->

							</div>
							<!--end::Wizard-->
							<!--begin::Notifications-->
							<div class="ms-1 ms-lg-6">
								<!--begin::Dropdown-->
								<button class="btn btn-icon btn-sm btn-light-danger fw-bolder pulse pulse-danger"
									data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end"
									id="kt_activities_toggle">
									<span class="position-absolute fs-6" id="notifications"></span>
									<span class="pulse-ring"></span>
								</button>
								<!--begin::Menu-->
								<div id="notificationsTab"
									class="menu menu-sub menu-sub-dropdown menu-column menu-rounded fw-bold menu-title-gray-800 menu-hover-bg menu-state-title-primary w-250px w-md-300px"
									data-kt-menu="true">
									<div class="menu-item mx-3">
										<div class="menu-content fs-6 text-dark fw-bolder py-6" id="nn">
										</div>
									</div>
									<div class="separator mb-3"></div>



								</div>
								<!--end::Menu-->
								<!--end::Dropdown-->
							</div>
							<!--end::Notifications-->
							<!--begin::Aside Toggler-->

							<!--end::Aside Toggler-->
							<!--begin::Sidebar Toggler-->
							<button class="btn btn-icon btn-sm btn-active-bg-accent d-lg-none ms-1 ms-lg-6"
								id="kt_sidebar_toggler">
								<!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
								<span class="svg-icon svg-icon-1 svg-icon-dark">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none">
										<path
											d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z"
											fill="black" />
										<path opacity="0.3"
											d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z"
											fill="black" />
									</svg>
								</span>
								<!--end::Svg Icon-->
							</button>
							<!--end::Sidebar Toggler-->
						</div>
						<!--end::Right-->
					</div>
					<!--end::Container-->
				</div>
				<!--end::Header-->
				<!--begin::Main-->
				<div class="d-flex flex-column flex-column-fluid">
					<!--begin::toolbar-->
					<div class="toolbar" id="kt_toolbar">
						<div class="container-xxl d-flex flex-stack flex-wrap flex-sm-nowrap">
							<!--begin::Info-->
							<div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-1">
								<!--begin::Title-->
								<h3 class="text-dark fw-bolder my-1">Completed Transactions</h3>
								<!--end::Title-->

								<!--end::Breadcrumb-->
							</div>
							<!--end::Info-->
							<!--begin::Nav-->
							<div class="d-flex align-items-center flex-nowrap text-nowrap overflow-auto py-1">
								<a href="" id="homeLink" class="btn btn-active-accent fw-bolder">Home</a>
								<a href="./views/wizard.html" class="btn btn-active-accent fw-bolder ms-3">Wizard</a>
								<a href="./views/accountsettings.html"
									class="btn btn-active-accent fw-bolder ms-3">Settings</a>
								<a href="#" class="btn btn-active-accent fw-bolder ms-3">Docs</a>
							</div>
							<!--end::Nav-->
						</div>
					</div>
					<!--end::toolbar-->
					<!--begin::Content-->
					<div class="content fs-6 d-flex flex-column-fluid" id="kt_content">
						<!--begin::Container-->
						<div class="container-xxl">
							<div class="card">
								<div class="card-body p-0">
									<!--begin::Invoice-->
									<div class="row justify-content-center pt-8 px-8 pt-md-20 px-md-0">
										<div class="col-md-10">
											<!-- begin: Invoice header-->
											<div
												class="d-flex justify-content-between pb-10 pb-md-20 flex-column flex-md-row">
												<h1 class="display-6 text-dark fw-bolder mb-10">Transaction Details</h1>

											</div>
											<!--end: Invoice header-->
											<!--begin: Invoice body-->
											<div class="row border-bottom pb-10">
												<div class="col-md-9 py-md-10 pe-md-10">
													<div class="table-responsive">
														<table class="table align-middle table-borderless">
															<thead>
																<tr
																	class="border-bottom-1 border-bottom-gray-100 fw-bolder text-muted fs-6 text-uppercase">
																	<th class="pt-5 pb-10 ps-0">Description</th>
																	<th class="pt-5 pb-10 text-end"></th>

																</tr>
															</thead>
															<tbody>
																<tr>
																	<td class="fw-bolder ps-0 pt-10">
																		<div class="d-flex align-items-center">
																			<i
																				class="fa fa-genderless text-success fs-1 me-2"></i>
																			Hash
																		</div>
																	</td>
																	<td id="tx_hash" class="text-end pt-10"></td>

																</tr>
																<tr>
																	<td class="fw-bolder ps-0">
																		<div class="d-flex align-items-center">
																			<i
																				class="fa fa-genderless text-success fs-1 me-2"></i>To
																		</div>
																	</td>
																	<td id="tx_to" class="text-end"></td>

																</tr>
																<tr>
																	<td class="fw-bolder ps-0">
																		<div class="d-flex align-items-center">
																			<i
																				class="fa fa-genderless text-success fs-1 me-2"></i>From
																		</div>
																	</td>
																	<td id="tx_from" class="text-end"></td>

																</tr>
																<tr>
																	<td class="fw-bolder ps-0">
																		<div class="d-flex align-items-center">
																			<i
																				class="fa fa-genderless text-success fs-1 me-2"></i>Value
																		</div>
																	</td>
																	<td id="tx_value" class="text-end"> </td>

																</tr>
																<tr>
																	<td class="fw-bolder ps-0">
																		<div class="d-flex align-items-center">
																			<i
																				class="fa fa-genderless text-success fs-1 me-2"></i>Transaction
																			Fee
																		</div>
																	</td>
																	<td id="tx_fee" class="text-end"></td>

																</tr>

																<tr>
																	<td class="fw-bolder ps-0">
																		<div class="d-flex align-items-center">
																			<i
																				class="fa fa-genderless text-success fs-1 me-2"></i>Gas
																			Price
																		</div>
																	</td>
																	<td id="gas_price" class="text-end"></td>

																</tr>

																<tr>
																	<td class="fw-bolder ps-0">
																		<div class="d-flex align-items-center">
																			<i
																				class="fa fa-genderless text-success fs-1 me-2"></i>Gas
																			Used
																		</div>
																	</td>
																	<td id="gas_used" class="text-end"></td>

																</tr>


															</tbody>
														</table>
													</div>
													<div class="border-bottom w-100 mt-7 mb-13"></div>
													<div class="d-flex flex-column flex-md-row">
														<div class="d-flex flex-column mb-10 mb-md-0">
															<div class="fw-bold fs-6 mb-3">LOGS</div>

															<div id="logs">
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-3 border-start-md ps-md-10 pt-md-10 text-end">
													<!--begin::Total Amount-->
													<div class="fs-3 fw-bolder text-muted mb-3">ACTION</div>
													<div id="method" class="fs-2x fw-bolder mb-16"></div>
													<!--end::Total Amount-->
													<div class="border-bottom w-100 mb-16"></div>
													<!--begin::Invoice Date-->
													<div class="text-gray-600 fs-6 fw-bold mb-3">BLOCK</div>
													<div id="block" class="fw-bold mb-16"></div>
													<!--end::Invoice Date-->
													<div class="border-bottom w-100 mb-16"></div>

													<!--begin::Invoice Date-->
													<div class="text-gray-600 fs-6 fw-bold mb-3">TIMESTAMP</div>
													<div id="timestamp" class="fs-6 fw-bold"></div>
													<!--end::Invoice Date-->
												</div>
											</div>
											<!--end: Invoice body-->
										</div>
									</div>

									<!-- end: Invoice action-->
									<!--end::Invoice-->
								</div>
							</div>
						</div>
						<!--end::Container-->
					</div>
					<!--end::Content-->
				</div>
				<!--end::Main-->
				<!--begin::Footer-->
				<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
					<!--begin::Container-->
					<div class="container-xxl d-flex flex-column flex-md-row flex-stack">
						<!--begin::Copyright-->
						<div class="text-dark order-2 order-md-1">
							<span class="text-muted fw-bold me-2">2024©</span>
							<a href="https://keenthemes.com" target="_blank"
								class="text-gray-800 text-hover-primary">eth notary</a>
						</div>
						<!--end::Copyright-->
						<!--begin::Menu-->
						<ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
							<li class="menu-item">
								<a href="https://keenthemes.com" target="_blank" class="menu-link px-2">About</a>
							</li>
							<li class="menu-item">
								<a href="https://keenthemes.com/support" target="_blank"
									class="menu-link px-2">Connect</a>
							</li>
							<li class="menu-item">
								<a href="https://themes.getbootstrap.com/product/start-multipurpose-admin-dashboard-theme/"
									target="_blank" class="menu-link px-2">Documentation</a>
							</li>
						</ul>
						<!--end::Menu-->
					</div>
					<!--end::Container-->
				</div>
				<!--end::Footer-->
			</div>
			<!--end::Wrapper-->

		</div>
		<!--end::Page-->
	</div>
	<!--end::Root-->

	<!--begin::Scrolltop-->
	<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
		<!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
		<span class="svg-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
				<rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)"
					fill="black" />
				<path
					d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z"
					fill="black" />
			</svg>
		</span>
		<!--end::Svg Icon-->
	</div>
	<!--end::Scrolltop-->
	<!--end::Main-->
	<script>var hostUrl = "assets/";</script>
	<!--begin::Javascript-->
	<!--begin::Global Javascript Bundle(used by all pages)-->
	<script src="assets/plugins/global/plugins.bundle.js"></script>
	<script src="assets/js/scripts.bundle.js"></script>
	<script>
		 // Get the user input
		var homeLink = document.getElementById('homeLink'); // Get the link element
		


		// Update the link's href with the new query string
		homeLink.href = "./index.html?" + contractAddress;

		let logo = document.querySelectorAll('[id="logo"]').forEach(
		element => {element.href = "./index1.html?" + localStorage.contract;});

		async function getAllTxns() {
			let count = await contract.methods.transactionCount().call().then(function (result) {
				let x = Number(result);
				return x;
			})
			let promises = [];


			for (let i = 0; i < count; i++) {
				trans = await contract.methods.transactions(i).call();
				if (trans.executed == false) {
					promises.push(trans);

				}
			}
			document.getElementById('notifications').innerText = promises.length;
			document.getElementById('nn').innerText = promises.length + " New Notifications";

			return promises;
		}

		async function processNotifications(promise, container) {

			try {


				let pending = await promise;






				for (const tx of pending) {
					console.log(tx)

					const notElement = document.createElement('div');
					notElement.classList.add('menu-item');
					notElement.classList.add('mx-3');


					notElement.innerHTML = `
	<a href="./views/txn.html?${tx.id}" class="menu-link px-4 py-3">
		<div class="symbol symbol-35px">
			<span class="symbol-label bg-light-warning">
				<!--begin::Svg Icon | path: icons/duotune/communication/com004.svg-->
				<span class="svg-icon svg-icon-3 svg-icon-warning">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
						viewBox="0 0 24 24" fill="none">
						<path opacity="0.3"
							d="M14 3V20H2V3C2 2.4 2.4 2 3 2H13C13.6 2 14 2.4 14 3ZM11 13V11C11 9.7 10.2 8.59995 9 8.19995V7C9 6.4 8.6 6 8 6C7.4 6 7 6.4 7 7V8.19995C5.8 8.59995 5 9.7 5 11V13C5 13.6 4.6 14 4 14V15C4 15.6 4.4 16 5 16H11C11.6 16 12 15.6 12 15V14C11.4 14 11 13.6 11 13Z"
							fill="black" />
						<path
							d="M2 20H14V21C14 21.6 13.6 22 13 22H3C2.4 22 2 21.6 2 21V20ZM9 3V2H7V3C7 3.6 7.4 4 8 4C8.6 4 9 3.6 9 3ZM6.5 16C6.5 16.8 7.2 17.5 8 17.5C8.8 17.5 9.5 16.8 9.5 16H6.5ZM21.7 12C21.7 11.4 21.3 11 20.7 11H17.6C17 11 16.6 11.4 16.6 12C16.6 12.6 17 13 17.6 13H20.7C21.2 13 21.7 12.6 21.7 12ZM17 8C16.6 8 16.2 7.80002 16.1 7.40002C15.9 6.90002 16.1 6.29998 16.6 6.09998L19.1 5C19.6 4.8 20.2 5 20.4 5.5C20.6 6 20.4 6.60005 19.9 6.80005L17.4 7.90002C17.3 8.00002 17.1 8 17 8ZM19.5 19.1C19.4 19.1 19.2 19.1 19.1 19L16.6 17.9C16.1 17.7 15.9 17.1 16.1 16.6C16.3 16.1 16.9 15.9 17.4 16.1L19.9 17.2C20.4 17.4 20.6 18 20.4 18.5C20.2 18.9 19.9 19.1 19.5 19.1Z"
							fill="black" />
					</svg>
				</span>
				<!--end::Svg Icon-->
			</span>
		</div>
		<div class="ps-4" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;>
			<span style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;" class="menu-title fw-bold mb-1" style="width:50px">To: ${tx.dest}</span>
			<span class="text-muted fw-bold d-block fs-7">Txn ID: ${tx.id}</span>
		</div>
	</a>

`
					container.appendChild(notElement);


				}
			}
			catch (error) {
				console.error('Error in processing events:', error)
			}



		}

		window.onload = processNotifications(getAllTxns(), document.getElementById('notificationsTab'))
	</script>
	<!-- <script src="assets/js/custom/txn.js"></script> -->

	<!--end::Global Javascript Bundle-->
	<!--begin::Page Custom Javascript(used by this page)-->

	<!--end::Page Custom Javascript-->
	<!--end::Javascript-->
</body>
<!--end::Body-->

</html>